article p,
ul {
  color: white;
}

article #Harga {
  color: rgb(0, 255, 0);
}

.whatsapp-container a {
  display: inline-block;
  padding: 12px 24px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  background-color: #25d366;
  border-radius: 50px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  text-decoration: none;
}

.whatsapp-container a:hover {
  background-color: #128c7e;
}

.fa-whatsapp {
  margin-right: 8px;
  font-size: 18px;
}

#produk {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 80px 0;
}

#produk .section-title {
  color: #f0e5d8;
  font-family: "Orbitron", sans-serif;
  font-size: 48px;
  text-align: center;
  margin-bottom: 50px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
